.cimage{
    width:300px;
    height:300px;
    margin-left:20%;
    border-radius: 50%;
    margin-top:5px;
}
#h1{
    margin-left:40%;
    font-family: monospace;
    color: white;
}
#h2{
    font-weight: 200;
    font-style: italic;
    font-family: 'Courier ';
    word-spacing: 10px;
    justify-content: justify;
    line-height: 150%;
    margin:40px;
    color: white;
    width:600px;
}
#home{
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: auto auto;
}