.cimage{
    width:200px;
    height:200px;
    margin-left:40%;
    border-radius: 50%;
    margin-top:5px;
}
#h1{
    margin-left:40%;
    font-family: monospace;
    color: white;
}
#h2{
    font-weight: 200;
    font-style: italic;
    font-family: 'Courier ';
    word-spacing: 10px;
    justify-content: justify;
    line-height: 150%;
    margin:40px;
    color: white;
}
#home{
    scroll-behavior: smooth;
   
}