.App {
  text-align: center;
}
.works{
  display:grid;
  grid-template-columns: auto auto auto auto;
}
ul{
  margin:200px;
}
#navbutton:hover{
  font-size: 150%;
}
#blogbutton{
  width:200px;
  height:50px;
}
#blogbutton:hover{
background-color: cyan;
}
#skillbutton:hover{
  background-color: cyan;
}



