.textfield{
    margin-left:30%;
    scroll-behavior: smooth;
    background-color: white;
    width:39%;

}
#contact{
    margin-left:40%;
    font-family:Lucida;
    color: white;
}
#toolbar{
    margin-left:150px;
   
}
#button1{
    margin-left:200px;
    border-radius: 50%;
    margin-right:200px;
   color: white;
}
#button1:hover{
    font-size: 300%;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
    

}
#i1{
    height:50px;
}
#sub:hover{
 background-color:#F8C8DC;
}
#ctm{
    display: flex;
    flex-direction: column;
}
#wel:hover{
    background-image: radial-gradient(#F8C8DC,#AA336A);
   
}
#wel{color: white;}
TextField{
    backgroundColor:white;
}