#workproj{
   margin:50px;
}
#welcome{
    width:220px;
    height:150px;
    border-radius: 5%;
}
#projhead{
    margin-left:40%;
}
#projbutton:hover{
background-color: cyan;
}
#projbutton{
    background-color:#AA336A ;
}
p,h1{
    color: white;
}
