.skillcards{
    display:grid;
    grid-template-columns: auto auto auto auto;
    -ms-grid-column-align: center;

    margin-left:120px;
    margin-right:120px;
}
.skillimage{
   width:100px;
   height:100px;
}
#skillh1{
    margin-left:40%;
}